<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Welcome the The Gossip Project, the gossips list will be posted soon<br>
        In the meantime, you can submit a gossip :</h1>

        <a href="/gossips/new/">Submit a gossip</a>

    </body>
</html>


